# Node modules
node_modules/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Environment Variables
.env

# Build output
dist/
build/

# Temporary files
*.tmp
*.swp

# IDE specific files (e.g., VSCode)
.vscode/
.idea/
